@use '@/app/styles/config/index.scss' as *;
.interesting-product {
	display: grid;
	grid-template-columns: rem(100) 1fr;
	gap: rem(20);
	.image-wrapper {
		width: rem(100);
		height: rem(128);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.interesting-product__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.product__title {
			color: #1b2154;
			font-family: 'Roboto', sans-serif;
			font-size: rem(16);
			font-style: normal;
			font-weight: 500;
			line-height: rem(26);
		}
		.cost__btn {
			width: fit-content;
			height: rem(29);
			span {
				font-size: rem(12);
			}
		}
	}
}
