@use '@/app/styles/config/index.scss' as *;

.portfolio-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	&:hover {
		.image-wrapper {
			&:before {
				opacity: 1;
			}
		}
	}
	.image-wrapper {
		position: relative;
		padding-bottom: 100%;
		margin-bottom: rem(25);
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 126, 42, 0.6);
			transition: var(--trs-300);
			opacity: 0;
			z-index: 2;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.portfolio-card__content {
		padding: 0 rem(30);
		flex: 1;
		display: flex;
		flex-direction: column;
		.title {
			text-align: center;
			color: #1b2154;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(18);
			font-style: normal;
			font-weight: 500;
			line-height: rem(26);
			margin-bottom: rem(15);
		}
		.descr {
			color: #000;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(14);
			font-style: normal;
			font-weight: 500;
			line-height: rem(21);
			margin-bottom: rem(15);
		}
		.link {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem(9);
			color: #1b2154;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(13);
			font-style: normal;
			font-weight: 500;
			line-height: rem(17);
			margin-top: auto;
			svg {
				width: rem(8);
				height: rem(12);
				color: #1b2154;
			}
		}
	}
	&.image-sm {
		.image-wrapper {
			padding-bottom: 75%;
		}
	}
}
