@use '@/app/styles/config/index.scss' as *;

.blog-inner-content {
	margin-top: rem(106);
	margin-bottom: rem(50);
	@media (max-width: $laptop) {
		margin-top: rem(145);
	}
	.title-block {
		@media (max-width: $tab-sm) {
			margin-bottom: rem(30);
		}
	}
	.blog-inner-content__text {
		h2 {
			margin-bottom: rem(20);
			margin-top: rem(64);
			font-size: rem(16);
			font-weight: 500;
			color: #1d214e;
			text-align: center;
			&:first-child {
				margin-top: 0;
			}
		}
		p {
			margin-bottom: rem(13);
			font-size: rem(16);
			line-height: rem(24);
			font-weight: 500;
		}
		a {
			text-decoration: underline;
			color: #1d214e;
		}
		u {
			text-decoration: underline;
		}
		ol {
			margin-left: rem(20);
			li {
				font-size: rem(16);
				line-height: rem(24);
				font-weight: 500;
			}
		}
		ul {
			margin-left: rem(20);
			li {
				font-size: rem(16);
				line-height: rem(24);
				font-weight: 500;
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			margin-bottom: rem(12);

			.info__item {
				display: flex;
				align-items: center;
				gap: rem(323);
				padding: rem(10) 0;
				border-top: 1px solid #adb0b6;
				@media (max-width: $tab) {
					gap: rem(40);
				}
				@media (max-width: $tab-sm) {
					flex-direction: column;
				}
				&:last-child {
					border-bottom: 1px solid #adb0b6;
				}
				.image-wrapper {
					min-width: rem(172);
					min-height: rem(172);
					max-width: rem(172);
					max-height: rem(172);
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
		}
	}
}
