@use '@/app/styles/config/index.scss' as *;

.steps {
	padding: rem(75) 0;
	background: #fff;
	.steps__inner {
		.steps__title {
			margin-bottom: rem(72);
			text-align: center;
			color: #1b2154;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(25);
			font-style: normal;
			font-weight: 500;
			line-height: rem(38);
		}
		.steps__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: rem(30);
			row-gap: rem(40);
			@media (max-width: $tab-sm) {
				grid-template-columns: 1fr;
				gap: rem(30);
			}
		}
	}
}
