@use '@/app/styles/config/index.scss' as *;

.chemistry-form {
	position: relative;
	padding: rem(35) 0;
	.chemistry-form__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.chemistry-form__inner {
		position: relative;
		z-index: 2;
		.chemistry-form__title {
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(28);
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: rem(34);
		}
		.chemistry-form__descr {
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(16);
			font-style: normal;
			font-weight: 500;
			line-height: rem(24);
			margin-bottom: rem(140);
			max-width: rem(1056);
		}
	}
}
