@use '@/app/styles/config/index.scss' as *;

.chemistry-catalog {
	overflow: hidden;
	margin-bottom: rem(60);
	.chemistry-catalog__inner {
		.chemistry-catalog__title {
			color: #1b2154;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(25);
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: rem(25);
		}
		.chemistry-catalog-swiper {
			position: relative;
			.swiper-slide {
				padding-bottom: rem(10);
				@media (min-width: $tab-sm) {
					opacity: 0 !important;
					transition: var(--trs-300);
					&.visible-slide {
						opacity: 1 !important;
					}
				}
				.image-wrapper {
					position: relative;
					padding-bottom: 100%;
					max-width: rem(300);
					margin: auto;
					margin-bottom: rem(15);
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.catalog-card__content {
					display: flex;
					flex-direction: column;
					align-items: center;
					.title {
						color: #1b2154;
						text-align: center;
						font-family: 'Montserrat', sans-serif;
						font-size: rem(16);
						font-style: normal;
						font-weight: 500;
						line-height: rem(26);
					}
					.btn {
						width: fit-content;
					}
					.about__btn {
						margin-top: rem(25);
						height: rem(29);
						padding: 0 rem(14);
					}
				}
			}
			.navigation {
				top: 0;
				bottom: 0;
				left: rem(10);
				right: rem(10);
				margin: auto;
				justify-content: space-between;
				pointer-events: none;
				align-items: center;
				position: absolute;
				z-index: 2;
				display: flex;

				.btn {
					width: rem(36);
					height: rem(36);
					background: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 999px;
					pointer-events: all;
					svg {
						width: rem(18);
						height: rem(18);
					}
				}
			}
		}
	}
}
