@use '@/app/styles/config/index.scss' as *;

.furniture-about {
	margin-bottom: rem(80);
	@media (max-width: $tab-sm) {
		margin-bottom: rem(50);
	}
	.furniture-about__inner {
		.furniture-about__features {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: rem(40);
			margin-bottom: rem(50);
			@media (max-width: $desktop-lg) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: $tab-sm) {
				gap: rem(20);
				grid-template-columns: 1fr;
			}
			.feature__item {
				padding: rem(25);
				background: #fff;
				border-radius: 4px;
				display: flex;
				align-items: center;
				gap: rem(20);
				box-shadow:
					0 37px 15px 0 rgba(158, 158, 158, 0.01),
					0 21px 12px 0 rgba(158, 158, 158, 0.05),
					0 9px 9px 0 rgba(158, 158, 158, 0.04),
					0 2px 5px 0 rgba(158, 158, 158, 0.05);
				img {
					width: rem(40);
					height: rem(40);
					object-fit: contain;
				}
				p {
					color: #000;
					font-family: 'Montserrat', sans-serif;
					font-size: rem(20);
					font-style: normal;
					font-weight: 500;
					line-height: rem(20);
					@media (max-width: $tab-sm) {
						font-size: rem(16);
						line-height: rem(16);
					}
				}
			}
		}
		.furniture-about__content {
			display: grid;
			grid-template-columns: rem(487) 1fr;
			gap: rem(50);
			@media (max-width: $desktop-lg) {
				grid-template-columns: 1fr;
			}
			.furniture-about__content-text {
				p {
					color: #101010;
					font-family: 'Montserrat', sans-serif;
					font-size: rem(20);
					font-style: normal;
					font-weight: 500;
					line-height: rem(27);
					@media (max-width: $tab-sm) {
						font-size: rem(14);
						line-height: rem(20);
					}
				}
			}
			.image-wrapper {
				position: relative;
				padding-bottom: 40%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
				}
			}
		}
	}
}
