@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope ExtraBold'),
		local('Manrope-ExtraBold'),
		url('@/shared/fonts/Manrope-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope Semibold'),
		local('Manrope-Semibold'),
		url('@/shared/fonts/Manrope-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope Medium'),
		local('Manrope-Medium'),
		url('@/shared/fonts/Manrope-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope Regular'),
		local('Manrope-Regular'),
		url('@/shared/fonts/Manrope-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope Light'),
		local('Manrope-Light'),
		url('@/shared/fonts/Manrope-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope ExtraLight'),
		local('Manrope-ExtraLight'),
		url('@/shared/fonts/Manrope-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src:
		local('Montserrat Medium'),
		local('Montserrat-Medium'),
		url('@/shared/fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		url('@/shared/fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
